<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AB6F9EED17C10C4700585107</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB7EF6AD1DB4028C0062DD0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABBEA7D51765CB730024A9D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABBEA8C0176620E10024A9D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
